.header2{
    width: 183px;
    height: 44px;
    background-color: #02B589;
    border-radius: 100px;
    border: none;
    color: white;
    font-family: 'Ubuntu';
    font-weight: 800;
    font-size: 20px;
}