.nevtreh {
  height: 23px;

  font-family: "Ubuntu";
  font-weight: 800;
  font-size: 25px;
  line-height: 23px;
  text-transform: uppercase;

  color: #02b589;
}

.email {
  width: 500px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
}
.email::placeholder {
  color: darkgrey;
  opacity: 1;
  margin-left: 20px;
  width: 512px;
  height: 23px;
  padding-left: 20px;
}

.tsahimHayag{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #000000;

}
.nmgSana{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #02B589;
}

.nuutsUg{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #333333;
}

.shine{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #02B589;
}